* {
  background-color: rgb(255, 255, 255);
  width: 800px;
  font-family: monospace;
  scrollbar-width: auto;
  scrollbar-color: rgb(255, 255, 255) black;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 1s;
}

a:visited {
  color: #000000;
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 3px 3px 3px rgba(0, 0, 0, 0.3);
}

header {
  margin-top: 10rem;
  text-align: center;
  font-family: monospace;
  letter-spacing: 5px;
}

header img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.mainnav {
  margin-top: 20px;
  margin-left: 200px;
  width: 400px;
  margin-bottom: 20px;
}

nav h2,
nav span {
  text-align: center;
  margin: 0px;
  letter-spacing: 5px;
}

.buttom1 {
  border: 1px solid black;
  width: 200px;
}
.buttom2 {
  border: 1px solid black;
  width: 200px;
}

nav h2 {
  margin-top: 20px;
}

nav span {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

.about th {
  border: 1px solid black;
}

.about {
  margin-bottom: 20px;
}

.fitnes {
  margin-top: 8px;
  width: 150px;
}

.it {
  margin-top: 8px;
  width: 150px;
}

.travel {
  margin-top: 8px;
  width: 150px;
}

.cars {
  margin-top: 8px;
  width: 150px;
}

.create-line {
  margin-top: 0px;
  width: 800px;
  border-top: 1px solid #000000;
}

main h3 {
  margin-top: 5px;
}

main p {
  margin-bottom: 5px;
}

p {
  width: 400px;
}

main table img {
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

footer img {
  width: 15px;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

:root {
  scroll-behavior: smooth;
}
